= form_with(model: @team, local: true) do |form|
  - if @team.errors.any?
    #error_explanation
      %h2= "#{pluralize(@team.errors.count, 'error')} prohibited this team from being saved:"
      %ul
        - @team.errors.full_messages.each do |message|
          %li= message

  .field 
    =form.hidden_field :owner_id, value: current_user.id

  .form-group.mb-4
    = form.label :name
    = form.text_field :name, id: :team_name, class: 'max-width-100'

  .form-group.mb-4
    = form.label :location_name
    = form.text_field :location_name, id: :team_location, class: 'max-width-100'

  .actions
    = form.submit 'Submit', class: 'btn db-side-btn'
