- if @league.nil?
  .container.text-center.mt-5
    %h2 Your league URL hasn't been recognised by our system!
    %p.text-lg Please update your league URL below and ensure your details are correct.
    %p.text-lg Any issues, don't hesitate to contact our support team!

    .row.justify-content-center
      .col-md-8.col-lg-6
        .card
          .card-header
            %h3 Update League Details
          .mt-5.mb-5
            = render 'scraper_form'
- else
  %h1 League Table

  %table.table.table-striped
    %thead
      %tr
        %th Team
        %th P
        %th W
        %th D
        %th L
        %th GF
        %th GA
        %th GD
        %th Pts
    %tbody
      - @league.teams.each do |team|
        %tr
          %td= team.name
          %td= team.played
          %td= team.wins
          %td= team.draws
          %td= team.losses
          %td= team.goals_for
          %td= team.goals_against
          %td= team.goal_difference
          %td= team.points
