.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header
        Team details
      .card-body
        .row.mb-0
          %h3= "Team name: #{@team.name}"
          %h3= "Team location: #{@team.location_name}"
      .card-footer.d-flex
        = link_to 'Edit', edit_team_path(@team), class: 'btn btn-link'
        - if current_user.type == 'Manager'
          = link_to 'Delete', team_path(@team), method: :delete, data: { confirm: 'Are you sure you want to delete the team?' }, class: 'btn btn-link'
        = link_to 'Back', dashboard_path, class: 'btn btn-link ms-auto'
    = link_to 'Invite a Player', new_team_user_team_path(@team), class: 'btn btn-rounded'