- if @fixtures.empty?
  %p You have no fixtures or results to sync. Are you sure the URL you entered is correct and your team name is exactly as it appears on your league website?
- else
  %h1
    Sync Fixtures for #{@team.name}

  = form_with url: sync_fixtures_team_path(@team), method: :post do |form|
    %table.table.table-striped
      %thead
        %tr
          %th Select
          %th Opposition
          %th Start Time
          %th Goals For
          %th Goals Against
          %th Location
      %tbody
        - @fixtures.each do |fixture|
          %tr
            %td= check_box_tag 'fixtures[][selected]', 1
            %td= fixture.opposition
            %td= fixture.start_time
            %td= fixture.goals_for
            %td= fixture.goals_against
            %td= fixture.location
            = hidden_field_tag 'fixtures[][opposition]', fixture.opposition
            = hidden_field_tag 'fixtures[][start_time]', fixture.start_time
            = hidden_field_tag 'fixtures[][goals_for]', fixture.goals_for
            = hidden_field_tag 'fixtures[][goals_against]', fixture.goals_against
            = hidden_field_tag 'fixtures[][location]', fixture.location

    = form.submit 'Sync'
