- if @fixtures.empty?
  .container.text-center.mt-5
    %h2 No results or fixtures to sync
    %p.text-lg Make sure your league URL is correct and the team name is exactly as displayed on your team's league website.
    %p.text-lg Any issues, don't hesitate to contact our support team!

    .row.justify-content-center
      .col-sm-12.col-md-9.col-lg-6
        .card
          .card-header
            %h3 Update League Details
          .m-2
            = render 'scraper_form'
- else
  %h1
    Sync Fixtures for #{@team.name}

  = form_with url: sync_fixtures_team_path(@team), method: :post do |form|
    %table.table.table-striped
      %thead
        %tr
          %th Select
          %th Opposition
          %th Start Time
          %th Goals For
          %th Goals Against
          %th Location
      %tbody
        - @fixtures.each_with_index do |fixture, index|
          %tr
            %td
              = check_box_tag "fixtures[#{index}][selected]", 1
              = hidden_field_tag "fixtures[#{index}][opposition]", fixture.opposition
              = hidden_field_tag "fixtures[#{index}][start_time]", fixture.start_time
              = hidden_field_tag "fixtures[#{index}][goals_for]", fixture.goals_for
              = hidden_field_tag "fixtures[#{index}][goals_against]", fixture.goals_against
              = hidden_field_tag "fixtures[#{index}][location]", fixture.location
            %td= fixture.opposition
            %td= fixture.start_time
            %td= fixture.goals_for
            %td= fixture.goals_against
            %td= fixture.location

    = form.submit 'Sync'
