- if @fixtures.empty?
  .container.text-center.mt-5
    %h2 No results or fixtures to sync
    %p.text-lg Make sure your league URL is correct and the team name is exactly as displayed on your team's league website.
    %p.text-lg Any issues, don't hesitate to contact our support team!

    .row.justify-content-center
      .col-md-8.col-lg-6
        .card
          .card-header
            %h3 Update League Details
          .mt-5.mb-5
            = render 'scraper_form'
- else
  %h1
    Sync Fixtures for #{@team.name}

  = form_with url: sync_fixtures_team_path(@team), method: :post do |form|
    %table.table.table-striped
      %thead
        %tr
          %th Select
          %th Opposition
          %th Start Time
          %th Goals For
          %th Goals Against
          %th Location
      %tbody
        - @fixtures.each do |fixture|
          %tr
            %td= check_box_tag 'fixtures[][selected]', 1
            %td= fixture.opposition
            %td= fixture.start_time
            %td= fixture.goals_for
            %td= fixture.goals_against
            %td= fixture.location
            = hidden_field_tag 'fixtures[][opposition]', fixture.opposition
            = hidden_field_tag 'fixtures[][start_time]', fixture.start_time
            = hidden_field_tag 'fixtures[][goals_for]', fixture.goals_for
            = hidden_field_tag 'fixtures[][goals_against]', fixture.goals_against
            = hidden_field_tag 'fixtures[][location]', fixture.location

    = form.submit 'Sync'
