- if current_user.manager?
  %h1 Manage Your Team
  =link_to 'Create a new team', create_team_path

  - for team in @teams
    %h2= "Team name: #{team.name}"
    %h2= "Team id: #{team.id}"
    =link_to 'View team', team_path(team)



- if current_user.player?
  %h1 Player
  = link_to 'View invites', player_invites_path
  %h1 Upcoming Fixtures
  = link_to 'View your next matches', player_upcoming_matches_path 

