-# Admin Team Card
-# HAML for a team card in the admin page
-#
-# @param [ActiveRecord] team - The team to be rendered

- small_update = team.id.nil? ? '' : admin_team_small_update_path(current_user, team)
- team_path = team.id.nil? ? '' : admin_team_path(current_user, team)
.team-card.pill-foldout{ id: "team-card-#{team.id}", data: { id: team.id, url: small_update } }
  .pf-pill.tc-pill
    %a.page-link{ href: team_path }
      %span Go

    %h2.team-name= team.name
    %h4.owner-name= "Owner: #{team.owner.name}"

  .pf-body.tc-body
    %a.page-link{ href: team_path }
      %span Go

    %input(name='team-name'){ value: team.name }
    %input(name='team-location'){ value: team.location_name }

    .tc-owner
      %h4= team.owner.name
      = render(partial: 'snippets/live_search',
               locals: { name: 'owner', field_label: 'New Owner',
                         placeholder: 'Owner Name or Email',
                         search_data_var: 'users',
                         search_fields: %w[name email],
                         other_data: { owner_id: team.owner.id } })

    %button.tc-save Save
