-# Admin Team Card
-# HAML for a team card in the admin page
-#
-# @param [ActiveRecord] team - The team to be rendered

-# TODO: Update this to only allow you to change the owner, name and location
-#       and then list the members and their roles
-#       Move the new member, member deletion and member role editing to the
-#       admin/teams page

.team-card{ id: "team-card-#{team.id}", data: { id: team.id } }
  .tc-pill
    %h2.team-name= team.name
    %h4.owner-name= "Owner: #{team.owner.name}"

  .tc-body
    %h2= team.name

    .tc-owner
      %h4= team.owner.name
      = render(partial: 'snippets/live_search',
               locals: { name: 'owner', field_label: 'New Owner',
                         placeholder: 'Owner Name or Email',
                         search_data_var: 'users',
                         search_fields: [ 'name', 'email' ],
                         other_data: { action: admin_team_set_owner_url(current_user.id, team.id),
                                       owner_id: team.owner.id } })

    .tc-new-member
      %h5 New Member
      %form{ action: admin_team_add_member_url(current_user.id, team.id) }
        - user_ids = team.user_teams.pluck :user_id
        = render(partial: 'snippets/live_search',
                 locals: { name: 'team-new-member',
                           placeholder: 'Member Name or Email',
                           search_data_var: 'users',
                           search_fields: [ 'name', 'email' ],
                           other_data: { member_ids: user_ids } })

        .roles-context
          = render(partial: 'snippets/live_search',
                   locals: { name: 'nm-team-role', field_label: 'Team Role',
                             search_data_var: 'team_roles',
                             search_fields: [ 'name' ], other_data: { roles: [] } })
          .role-list

        %button.add Add

    .tc-member-list
      - team.user_teams.each do |member|
        - role_ids = member.roles.pluck :id
        - delete_url = admin_user_team_remove_url current_user.id, member.id

        .tc-member{ id: "user-team-#{member.id}", data: { id: member.id, role_ids: role_ids } }
          .tcm-pill
            %button.tcm-delete{ data: { url: delete_url } } Delete
            %h5.tcm-name
              %span= member.user.name
            .tcm-roles
              %span= member.roles.pluck(:name).join ' | '

          .tcm-body
            .head
              %button.tcm-delete{ data: { url: delete_url } } Delete
              %h5.tcm-name
                %span= member.user.name

            - update_roles_url = admin_user_team_update_roles_url current_user.id, member.id
            = render(partial: 'snippets/live_search',
                     locals: { name: "tm-team-role", placeholder: 'New Role',
                               search_data_var: 'team_roles',
                               search_fields: [ 'name' ],
                               other_data: { url: update_roles_url } })

            .tcm-roles
              - member.roles.decorate.each do |role|
                %span.tcm-team-role
                  %button.tr-remove{ data: { url: update_roles_url, role_id: role.id } }
                    Remove
                  %span= role.name
                  %span= role.type_name
