-# Use <template> for automatically hidden HTML that can be cloned and used with JS
!!!
%html{ lang: 'en-GB' }
  %head
    = render 'layouts/tags'

    %title Admin - Pitch Wize

    = stylesheet_pack_tag 'admin_styles', media: 'all'
    = javascript_pack_tag 'admin_script'

    %meta(name='popularity'){ content: metrics_popularity_url }
    %meta(name='get-users'){ content: admin_all_users_url }
    %meta(name='update-user'){ content: admin_update_user_url }

    %body
      = render 'layouts/nav'

      %main
        #admin-panel
          %aside#control-panel
            -# TODO: An option for the admin to select their default view
            -#       Would work by giving the selected class to the appropriate button
            -#       and then the JS will handle the rest
            %button#general.selected General Stats
            %button#users Users


          %section#info-block

            #general
              #gnrl-popularity
                %h2.title
                  %p Site Visits
                %h3.total
                  %p= @visit_metrics[:total]
                .pastw
                  %span.label Past Week
                  %span.value= @visit_metrics[:pastw]
                .pastm
                  %span.label Past Month
                  %span.value= @visit_metrics[:pastm]
                .pasty
                  %span.label Past Year
                  %span.value= @visit_metrics[:pasty]
                .avgw
                  %span.label Weekly Average
                  %span.value= @visit_metrics[:avgw]
                .avgm
                  %span.label Monthly Average
                  %span.value= @visit_metrics[:avgm]
                .avgy
                  %span.label Yearly Average
                  %span.value= @visit_metrics[:avgy]

            -# TODO: Rather than wait for JS to populate this, we populate it in haml
            -#       using a partial then place that partial in the template below
            #users
              .card-list


%template.user-card
  .user-card
    .uc-pill
      .email
      .role-list
        %span

    .uc-enlarge
      %input(name='name')
      %input(name='email')

      %input(type='checkbox' name='player')
      %label(for='player') Player
      %input(type='checkbox' name='manager')
      %label(for='manager') Manager
      %input(type='checkbox' name='site-admin')
      %label(for='site-admin') Site Admin

      %button.save Save
      %button.pwreset Reset Password

