-# Use <template> for automatically hidden HTML that can be cloned and used with JS
!!!
%html{ lang: 'en-GB' }
  %head
    = render 'layouts/tags'

    %title Admin - Pitch Wize

    :javascript
      let ALL_MANAGERS = #{@js_managers};
      let ALL_PLAYERS = #{@js_players};


    = stylesheet_pack_tag 'admin_styles', media: 'all'
    = javascript_pack_tag 'admin_script'

    %meta(name='popularity'){ content: metrics_popularity_url }
    %meta(name='get-users'){ content: admin_all_users_url }
    %meta(name='update-user'){ content: admin_update_user_url }
    %meta(name='remove-user'){ content: admin_remove_user_url }
    %meta(name='update-manager'){ content: admin_update_team_manager_url }
    %meta(name='add-player'){ content: admin_add_team_player_url }
    %meta(name='remove-player'){ content: admin_remove_team_player_url }

    %body
      = render 'layouts/nav'

      %main
        #admin-panel
          %aside#control-panel
            -# TODO: An option for the admin to select their default view
            -#       Would work by giving the selected class to the appropriate button
            -#       and then the JS will handle the rest
            %button#general General Stats
            %button#users Users
            %button#teams.selected Teams


          %section#info-block

            #general
              #gnrl-popularity
                .ltitle Site Visits
                %section
                  .total
                    .label Total
                    .value 10000
                  .avgm
                    .label Average / Month
                    .value
                  .avgw
                    .label Average / Week
                    .value

            #users
              .card-list

            #teams
              .teams-list
                - @teams.each do |team|
                  = render partial: 'admin/team_card', locals: { team: team }


%template.user-card
  .user-card
    .uc-pill
      .email
      .role-list
        %span

    .uc-enlarge
      %input(name='name')
      %input(name='email')

      %input(type='checkbox' name='player')
      %label(for='player') Player
      %input(type='checkbox' name='manager')
      %label(for='manager') Manager
      %input(type='checkbox' name='site-admin')
      %label(for='site-admin') Site Admin

      %button.save Save
      %button.pwreset Reset Password
      %button.remove Remove Account
      
%template.search-entry
  .search-entry
    -# %span.name
    -# %span.email

%template.tc-player
  - locals = { team_id: '{0}', player: @template_member }
  = render partial: 'admin/team_player', locals: locals
