:javascript
  let LIVE_SEARCH = { 'users': #{@js_users}, 'team_roles': #{@js_roles} };

#admin-panel
  %aside#control-panel
    -# TODO: An option for the admin to select their default view
    -#       Would work by giving the selected class to the appropriate button
    -#       and then the JS will handle the rest
    %button#general General Stats
    %button#users Users
    %button#teams.selected Teams

  %section#info-block
    #general
      #gnrl-popularity
        %h2.title
          %p Site Visits
        %h3.total
          %p= @visit_metrics[:total]
        .statistic.pastw
          %span.label Past Week
          %span.value= @visit_metrics[:past_week]
        .statistic.pastm
          %span.label Past Month
          %span.value= @visit_metrics[:past_month]
        .statistic.pasty
          %span.label Past Year
          %span.value= @visit_metrics[:past_year]
        .statistic.avgw
          %span.label Weekly Average
          %span.value= @visit_metrics[:avg_week]
        .statistic.avgm
          %span.label Monthly Average
          %span.value= @visit_metrics[:avg_month]
        .statistic.avgy
          %span.label Yearly Average
          %span.value= @visit_metrics[:avg_year]

        %button.refr
          %span Refresh

      #gnrl-pop-range
        - min_date = @earliest.strftime '%Y-%m-%d'
        - start_date = [@earliest, 1.day.ago].max.strftime '%Y-%m-%d'
        - max_date = Time.current.strftime '%Y-%m-%d'
        %label(for='start-date') Start
        %input(type='date' name='start-date'){ min: min_date, max: max_date, value: start_date }
        %label(for='end-date') End
        %input(type='date' name='end-date'){ min: min_date, max: max_date, value: max_date }

        %button.send Send

        .output
      
      %h2.title
        %p App Usage
      .row
        .statistic.col#number_users
          %span.label Number of Users
          %span.value= @users.length
        .statistic.col#number_teams
          %span.label Number of Teams
          %span.value= @teams.length
        .w-100
        .statistic.col#number_matches
          %span.label Number of Matches
          %span.value= @matches.length
        .statistic.col#ratings_per_match
          %span.label Ratings per Match
          %span.value= @rating_metric


    #users
      #new-user
        #new-user-title New User
        #new-user-foldout
          %label(for='name') Name
          %input(name='name')
          %label(for='email') Email
          %input(name='email' type='email')
          %input(name='password' readonly='readonly')
          %button#new-user-regen-pw Regenerate

          %label(for='site-admin') Is Site Admin?
          %input(type='checkbox' name='site-admin')

          %button#new-user-submit Submit

      .card-list
        - @users.each do |user|
          = render partial: 'admin/user_card', locals: { user: user }

    #teams    
      .stats-block
        .statistic.num-teams
          %h3.label Number of Teams
          %h4.value= @teams.size

        .statistic.visits-per-team
          %h3.label Number of site visits per team
          %h4.value= @visits_teams_ratio

        .statistic.team-activity
          %h3.label Number of teams using the application in the past two weeks
          %h4.value= @num_teams_past_two_weeks
      
      #new-team
        #new-team-title New Team
        #new-team-foldout
          = render(partial: 'snippets/live_search',
                      locals: { name: 'first-owner', field_label: 'Owner',
                                placeholder: 'Owner Name or Email',
                                search_data_var: 'users',
                                search_fields: %w[name email] })
          %label(for='teamname') Team Name
          %input(name='team_name')
          %label(for='location_name') Location Name
          %input(name='location_name') 
          %button#new-team-submit  Submit

      .teams-list
        - @teams.each do |team|
          = render partial: 'admin/team_card', locals: { team: team }


%template.user-card
  = render partial: 'admin/user_card', locals: { user: User.new }

%template.search-entry
  .search-entry
