:javascript
  let LIVE_SEARCH = { 'users': #{@js_users}, 'team_roles': #{@js_roles} };

#admin-panel
  %aside#control-panel
    -# TODO: An option for the admin to select their default view
    -#       Would work by giving the selected class to the appropriate button
    -#       and then the JS will handle the rest
    %button#general General Stats
    %button#users Users
    %button#teams.selected Teams

  %section#info-block
    #general
      #gnrl-popularity
        %h2.title
          %p Site Visits
        %h3.total
          %p= @visit_metrics[:total]
        .pastw
          %span.label Past Week
          %span.value= @visit_metrics[:past_week]
        .pastm
          %span.label Past Month
          %span.value= @visit_metrics[:past_month]
        .pasty
          %span.label Past Year
          %span.value= @visit_metrics[:past_year]
        .avgw
          %span.label Weekly Average
          %span.value= @visit_metrics[:avg_week]
        .avgm
          %span.label Monthly Average
          %span.value= @visit_metrics[:avg_month]
        .avgy
          %span.label Yearly Average
          %span.value= @visit_metrics[:avg_year]

        %button.refr
          %span Refresh

      #gnrl-pop-range
        - min_date = @earliest.strftime '%Y-%m-%d'
        - start_date = [@earliest, 1.day.ago].max.strftime '%Y-%m-%d'
        - max_date = Time.current.strftime '%Y-%m-%d'
        %label(for='start-date') Start
        %input(type='date' name='start-date'){ min: min_date, max: max_date, value: start_date }
        %label(for='end-date') End
        %input(type='date' name='end-date'){ min: min_date, max: max_date, value: max_date }

        %button.send Send

        .output

    #users
      #new-user
        #new-user-title New User
        #new-user-foldout
          %label(for='name') Name
          %input(name='name')
          %label(for='email') Email
          %input(name='email' type='email')
          %input(name='password' readonly='readonly')
          %button#new-user-regen-pw Regenerate

          %label(for='site-admin') Is Site Admin?
          %input(type='checkbox' name='site-admin')

          %button#new-user-submit Submit

      .card-list
        - @users.each do |user|
          = render partial: 'admin/user_card', locals: { user: user }

    #teams
      #new-team
        #new-team-title New Team
        #new-team-foldout
          %label(for='teamname') Team Name
          %input(name='team_name')
          %label(for='location_name') Location Name
          %input(name='location_name') 
          = render(partial: 'snippets/live_search',
                    locals: { name: 'first-owner', field_label: 'Owner',
                              placeholder: 'Owner Name or Email',
                              search_data_var: 'users',
                              search_fields: %w[name email] })

          %button#new-team-submit Submit

      .teams-list
        - @teams.each do |team|
          = render partial: 'admin/team_card', locals: { team: team }


%template.user-card
  = render partial: 'admin/user_card', locals: { user: User.new }

%template.search-entry
  .search-entry
