.lnd-opener-bg
  .container{ style: 'height: 100%;' }
    .row.pb-5{ style: 'height: 100%;' }
      .col-xl-7.pb-5.align-self-center.my-5
        .text-lnd
          %h1.fw-bold.fst-italic Lead Your Team
          %h2 Take control on and off the pitch
      .col-xl-4.align-self-center.pb-5.mb-5
        .container
          .row.justify-content-center
            .col-md-8
              .card.bg-opacity-50{ style: 'background-color: rgba(255, 255, 255, 0.5);' }
                .card-body
                  %h4.card-title.text-center.mb-4 Login
                  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                    .form-outline.mb-4
                      = f.email_field :email, class: 'form-control', placeholder: 'Email', required: true
                    .form-outline.mb-4
                      = f.password_field :password, class: 'form-control', placeholder: 'Password', required: true
                    .text-center.my-3
                      = f.submit 'Log in', class: 'btn db-side-btn rounded-pill'
                  .d-flex.align-items-center.justify-content-center.pb-4 
                    %p.mb-0.me-2 Don't have an account?
                    = link_to 'Register', new_user_registration_path, class: 'btn btn-outline-danger', name: 'register'
