%h1 My Profile 

.container 
  .row 
    .col 
      %h2= "Type: #{@user.type}"
      %h2= "Name: #{@user.name}"
      %h2= "Email: #{@user.email}"

    = link_to 'Edit Profile', edit_user_profile_path
    = link_to 'Delete account', delete_user_profile_path, method: :delete, data: { confirm: "Are you sure?" }