.container.my-5
  .row.text-center.max-width-100
    %h1 My Profile 
  .row.text-center.my-3
    .col 
      %h4= "Name: #{@user.name}"
    .col
      %h4= "Email: #{@user.email}"

  .row.text-center.my-3
    .col  
      %h4= "Joined: #{@user.created_at.strftime('%d %B %Y')}"
    .col
  .row.mt-5
    .col.text-end
      = link_to 'Edit Profile', edit_user_profile_path, class: 'btn db-side-btn mb-2 mx-4'
      = link_to 'Delete account', delete_user_profile_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn db-side-btn'
