.container.mb-3
  .row.text-center.my-2
    %h3 Your Upcoming Fixtures
  .row
    .table-responsive
      %table.table
        %thead 
          %tr 
            %th{ scope: 'col' } Team
            %th{ scope: 'col' } Opposition
            %th{ scope: 'col' } Location 
            %th{ scope: 'col' } Date
            %th{ scope: 'col' } 
            - if current_user.player_of_team?(@team) && match.start_time > Time.now
              %th{ scope: 'col' }

        %tbody 
          - @matches.each do | match |
            %tr{ data: { href: team_match_path(match.team, match) }, class: 'clickable-row' }
              %td= match.team.name 
              %td= match.opposition 
              %td= match.location 
              %td= match.start_time.strftime('%d/%m/%y') 
              %td= link_to 'View Match', team_match_path(match.team, match), class: 'btn db-side-btn'
              - if current_user.player_of_team?(@team) && match.start_time > Time.zone.now
                - player_match = PlayerMatch.find_by(user_id: current_user.id, match_id: match.id)
                %td
                  = form_with(url: team_match_toggle_availability_path(match_id: match.id, user_id: current_user.id), method: :post, local: true) do |f|
                    = f.submit player_match.available ? 'Available' : 'Unavailable', class: "btn #{player_match.available ? 'btn-success' : 'btn-danger'}", id: 'availability'
    = paginate @matches
