.container.justify-content-center.m-5.text-center 
  .row
    %h3 Your Upcoming Fixtures
  .row 
    .col
      %table.table
        %thead 
          %tr 
            %th{ scope: 'col' } #
            %th{ scope: 'col' } Opposition
            %th{ scope: 'col' } Location 
            %th{ scope: 'col' } Kick Off 
            %th{ scope: 'col' } Score
            %td{ scope: 'col' } Result
            %th{ scope: 'col' } 
            %td{ scope: 'col' } 

        %tbody 
          - @matches.each_with_index do | match, index |
            %tr 
              %th{ scope: 'row' }= index + 1
              %td= match.opposition 
              %td= match.location 
              %td= match.start_time.strftime('%A, %B %-d, %Y %I:%M %p') 
              %td= match.scoreline 
              %td= match.result
              %td= link_to 'Line Up', class: 'btn db-side-btn'
              %td= link_to 'Available', class: 'btn db-side-btn'
