= form_with(model: [@team, @match], local: true) do |f|

  .field 
    = f.label :start_time, 'Date and Time of Kick Off'
    = f.datetime_select :start_time, id: :start_time, start_year: Time.zone.today.year - 2, end_year: Time.zone.today.year + 5

  .field
    = f.label :location
    = f.text_field :location, id: :location

  .field
    = f.label :opposition
    = f.text_field :opposition, id: :opposition
  
  - if match_in_past?(@match)
    .field 
      = f.label :goals_for
      = f.number_field :goals_for, min: 0, step: 1, value: @match.goals_for || 0

    .field 
      = f.label :goals_against
      = f.number_field :goals_against, min: 0, step: 1, value: @match.goals_against || 0

  .actions
    = f.submit 'Submit'