= form_with(model: [@team, @match], local: true) do |f|

  .field 
    = f.label :start_time, 'Date and Time of Kick Off'
    = f.datetime_select :start_time, id: :start_time, start_year: 2020, end_year: 2030

  .field
    = f.label :location
    = f.text_field :location, id: :location

  .field
    = f.label :opposition
    = f.text_field :opposition, id: :opposition

  .actions
    = f.submit 'Create Match'