- @match.player_matches.count.positive?
  = form_with(model: @match, url: submit_lineup_team_match_path(@match), method: :post, local: true) do |f|
    %table.table.table-striped
      %thead
        %tr
          %th Player Name
          %th Position
          %th Available 
      %tbody
        - @player_matches.each do |player_match|
          %tr
            %td= player_match.user.name
            %td
              = select_tag "player_matches[#{player_match.id}][position]", options_for_select(PlayerMatch.positions.keys.map { |key| [key.humanize, key] }, player_match.position)
            %td= player_match.available ? 'Yes' : 'No'
    .text-end
      = f.submit 'Submit Lineup', class: 'btn db-side-btn'
- else 
  .text-center.m-2 
    %h5 There are no players to select
    