%h3 Add Match Event
%div.row
  = form_with(model: [@match, MatchEvent.new], url: create_match_event_team_match_path(@match), local: true) do |f|
    .form-group.mt-2.mb-2.col-sm-4
      = f.label :user_id, 'Player'
      = f.collection_select :user_id, @players, :id, :name, include_blank: true, class: 'form-control'
    
    .form-group.mt-2.mb-2.col-sm-4
      = f.label :event_type, 'Event Type'
      = f.select :event_type, MatchEvent.event_types.keys.map { |type| [type.titleize, type] }, include_blank: true, class: 'form-control'
    
    .form-group.mt-2.mb-2.col-sm-4
      = f.label :event_minute, 'Event Minute'
      = f.number_field :event_minute, class: 'form-control'
    
    .form-group.mt-2:col-sm-12
      = f.submit 'Add Event', class: 'btn btn-primary'
