= form_with(model: @match, url: rate_players_team_match_path(@match), local: true, method: :post) do |f|
  %table.table.table-striped
    %thead
      %tr
        %th Player Name
        %th Rating
    %tbody
      - @players.each do |player|
        %tr
          %td= player.name
          %td
            = select_tag "player_ratings[#{player.id}]", options_for_select(@options, player.player_ratings.find_by(match: @match)&.rating || -1)
  = f.submit 'Submit Ratings'
