

.container

  .row.text-center.my-2
    %h3= "#{@team.name} Fixtures"
  .row 
    .col
      %table.table
        %thead 
          %tr 
            %th{ scope: 'col' } #
            %th{ scope: 'col' } Opposition
            %th{ scope: 'col' } Location 
            %th{ scope: 'col' } Kick Off 
            %th{ scope: 'col' } Score
            %td{ scope: 'col' } Result
            - if current_user.staff_of_team?(@team, current_user)
              %td{ scope: 'col' } 
        %tbody 
          - @matches.each_with_index do | match, index |
            %tr 
              %th{ scope: 'row' }= index + 1
              %td= match.opposition 
              %td= match.location 
              %td= match.start_time.strftime('%A, %B %-d, %Y %I:%M %p') 
              %td= match.scoreline 
              %td= match.result
              - if current_user.staff_of_team?(@team, current_user)
                %td= link_to 'Edit', edit_team_match_path(@team, match), class: 'btn db-side-btn'

  