%h2 Here are your fixtures

.container
  .row 
    .col
      %table.table
        %thead 
          %tr 
            %th{ scope: 'col' } #
            %th{ scope: 'col' } Opposition
            %th{ scope: 'col' } Location 
            %th{ scope: 'col' } Kick Off 
            %th{ scope: 'col' } Score
            %td{ scope: 'col' } Result
        %tbody 
          - @matches.each_with_index do | match, index |
            %tr 
              %th{ scope: 'row' }= index + 1
              %td= match.opposition 
              %td= match.location 
              %td= match.start_time 
              %td= match.scoreline 
              %td= match.result

  