.container 
  .row.text-center.m-4
    %h2= "#{@match_decorator.match_header}: Lineup"

    - # display the playermatch relations with a position

    %table
      %thead
        %tr
          %th Name
          %th Position
          %th Available
      %tbody
        - @selected.each do |player|
          %tr
            %td= player.user.name
            %td= player.position
            %td= player.available ? 'Yes' : 'No'

    - if current_user.owner_of_team?(@team)
      .container 
        .row 
          %h3 Select Players

          %table
            %thead
              %tr
                %th Name
                %th Position
                %th Available
                %th 
            %tbody
              - @unselected.each do |player|
                = form_with(model: player, url: update_lineup_team_match_path(player.match), local: true, method: :post) do |f|
                  %tr
                    %td= player.user.name
                    %td
                      = f.select :position, options_for_select([['Goalkeeper', 0], ['Defender', 1], ['Midfielder', 2], ['Forward', 3]], selected: player.position)
                    %td= player.available ? 'Yes' : 'No'
                    %td= f.submit 'Select', class: 'btn db-side-btn'

