:javascript
  let LIVE_SEARCH = { teams: #{@js_teams}, team_roles: #{@js_roles} };
  let USER = { name: "#{@user.name}", email: "#{@user.email}", isAdmin: #{@user.is_admin?}, teams: #{@js_my_teams} }; 

- append_javascript_pack_tag 'admin_users'

%a{ href: admin_index_path(current_user) } Back

%input(name='usr-name'){ value: @user.name }
%input(name='usr-email'){ value: @user.email }
%input(name='usr-admin' type='checkbox'){ checked: @user.is_admin? }

#teams-block
  #add-team
    = render(partial: 'snippets/live_search',
             locals: { name: 'new-team',
                       placeholder: 'Team Name',
                       search_data_var: 'teams',
                       search_fields: %w[name] })
    = render partial: 'snippets/multi_role_selection', locals: { name: 'new-team-roles' }

    %button.add Add


  - if @teams.empty?
    %h3 No Teams
  - else
    %h3 Teams
    - @teams.each do |team|
      = render partial: 'admin/users/team', locals: { team: team }

%button.save(disabled='disabled') Save Changes
%button.revert(disabled='disabled') Revert

= link_to 'Delete', admin_user_destroy_path(current_user, @user)

%template.team
  = render partial: 'admin/users/team', locals: { team: Team.new }
