!!!
%html{ lang: 'en-GB' }
  %head
    = render 'layouts/tags'

    %title= ['PitchWize', content_for(:title)].compact.join(' - ')

    = stylesheet_pack_tag 'styles', media: 'all'
    = javascript_pack_tag 'application'

    - if user_signed_in? && !current_user.site_admin.nil?
      = stylesheet_pack_tag 'admin_styles', media: 'all'

  %body
    = render 'layouts/nav'
    - if flash.present?
      .container-fluid.flash-messages
        - flash.each do |message_type, message|
          - next unless message_type == 'alert' || message_type == 'notice'
          .alert{ class: "alert-#{message_type == 'notice' ? 'success' : 'danger'}" }= message

    %main
      .container-fluid
        = yield

    %footer
      =render 'layouts/footer'
